.container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(170, 168, 168);
    border-radius: 5px;
    padding: 8px;
}
.rightcss{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rightcss p {
    margin-right: 5px;
    font-weight: bold;
}
.tagP {
    color: rgb(240, 58, 58);
}
.leftcss{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.leftcss button {
    margin: 0 10px;
    background-color: rgb(250, 5, 5) ;
}