.form{
  width: 400px;
  height: 100%;
  margin-top: 20px;
}
.form input  {
    margin: 10px 0;
}

.form textarea  {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
.form select {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
.form input[type="file"]  {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
.form button {
    padding: 5px 15px;
}
.container h3 {
    margin-top: 10px;
}
.container p {
    width: 100px;
    border: 0.5px solid red;
}
